services:
  - type: web
    name: backend
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    plan: free
    autoDeploy: true
    envVars:
      - key: PORT
        value: 8000
      - key: DATABASE_URL
        fromDatabase:
          name: postgres-db
          property: connectionString
      - key: PYTHONPATH
        value: /Microservice-Architecture
databases:
  - name: postgres-db
    plan: free